body {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
}

form {
    text-align: center;
}